/* Estilos generales para el Header */
header {
  background-image: linear-gradient(to right, #4b5750, #4c9f70); /* Degradado de azul a verde */
  color: white;
  padding: 0 0;
     width: 100vw;

}

  
  header div.container {
padding: 0;
margin: 0;
  }
  
  header div.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  header div img.logo-img {
    width: 150px;
    height: auto;
  }
  
  /* Navegación */
  nav.navigation {
    display: none
    ;
        flex-direction: column;
        align-items: center;
        padding:30px;
        gap: 10px;
  }
  
.navigation.open {
   display: flex;
}

  nav a.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: white;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #94b8a2; /* Gris claro para el hover */
  }
  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .svg-inline--fa {
    display: var(--fa-display);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    font-size: 50px;
}


  /* Responsive design: Ajuste en pantallas pequeñas */
  @media (min-width: 768px) and (max-width: 1024px) { /* Estilos generales para el Header */
    header {
    
    }
    
      
      header div.container {
       display: flex;
       
      }
      
      header div.logo {
        
        width: 50%;
      
      }
      
      header div img.logo-img {
      
      }
      
      /* Navegación */
      nav.navigation {
        display: flex;
        flex-direction: row;
        width: 50%;
        
      }
      
      nav a.nav-link {
        font-size: 2rem;
      }
      
      .nav-link:hover {
      }
      .menu-toggle {
        display: none; /* Muestra el icono de hamburguesa en pantallas pequeñas */
      }
    }
  
  
      @media (min-width: 1024px) {
        header {
    
        }
        
          
        header div.container {
          display: flex;
          
         }
         
         header div.logo {
           
           width: 50%;
         
         }
         
         header div img.logo-img {
         
         }
         
         /* Navegación */
         nav.navigation {
           display: flex;
           flex-direction: row;
           width: 50%;
           
         }
          
          nav a.nav-link {
            font-size: 1.3rem;
          }
          
          .nav-link:hover {
          }
          .menu-toggle {
            display: none; /* Muestra el icono de hamburguesa en pantallas pequeñas */
          }
      }